@inherits DisplayStudentBase

<div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
    <div class="card-header">
        <input type="checkbox" checked="@IsSelected" @onchange="CheckBoxChanged" />
        <h3>@Student.FirstName @Student.LastName</h3>
    </div>
    <img class="card-img-top imageThumbnail" src="@Student.PhotoPath" />
    @if (ShowFooter)
    {
        <div class="card-footer text-center">
            <a href="@($"studentdetails/{Student.StudentId}")" 
               class="btn btn-primary m-1">查看</a>

            <a href="@($"editstudent/{Student.StudentId}")" class="btn btn-primary m-1">编辑</a>

            <a class="btn btn-danger m-1" @onclick="Delete_Click">删除</a>
        </div>
    }
</div>

<Confirm @ref="DeleteConfirmation" ConfirmationChanged="ConfirmDelete_Click"
         ConfirmationMessage=@($" 是否确认删除学生： \"{Student.FirstName}\"")>
</Confirm>